.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: red;
}

.messages {
    padding: 10px;
}

.img img {
    width: 20px;
    padding: 20px;
}